<html>
    <body>
        <h1 style="font-size:25px !important;">Welcome <%=@producer.username.upcase%>
        </h1>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



        <h4>Latest Posts</h4> <br>


        <%@posts.each do |post|%>
            <section>
            <p><%=post.content%>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            -----&nbsp;<a href="/posts/viewprofile/<%=post.producer.username%>"><%=post.producer.username%></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <%=post.created_at.to_datetime.strftime("%A, %b %d at %I:%M%p")%>
            </section></p>

        <%end%>


        <h4>Latest Movies Produced</h4><br>
        <%@movies.each do |movie|%>
            <section>
            <p><%=movie.name%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            ------&nbsp;<a href="/posts/viewprofile/<%=movie.producer.username%>"><%=movie.producer.username%></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%=movie.created_at.to_datetime.strftime("%A, %b %d at %I:%M%p")%></section></p>

        <%end %>
    </body>
    <style>
    /* unvisited link */
    a:link {
    color: pink;
    }

    /* visited link */
    a:visited {
    color: yellow;
    }

    /* mouse over link */
    a:hover {
    color: lime;
    }

    /* selected link */
    a:active {
    color: blue;
    }
    </style>

    <p style ="text-align:center"><a href="/posts/<%=@producer.username%>">My Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="posts/listusers">Producers List</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/logout">Logout</a></p>
</html>
